extends base.jade

block content
	.content: .about

		h2='About Me'
		p='一个热衷于科技和文学的大学生。'
		p='构建知识网络和一种生活方式。'


		h2='Gears I Use'
		p='<strong> 手机：</strong> MI 6, iPhone 6s, BlackBerry KEYone'
		p='<strong> 电脑：</strong> Matebook X Pro, Macbook Pro 13, Dell Inspiron 13'
		p='<strong> 屏幕：</strong> Dell U2518DR'
		p='<strong> 平板：</strong> Dell Venue 8 Pro, Kindle Paperwhite 4'
		p='<strong> 耳机：</strong> AfterShokz Trekz Air'
		p='<strong> 输入：</strong> Logitech K380 Keyboard, Apple Magic Mouse'

		h2='Blog I Wrote'
		p='本博客会分享一些技术文章、开发经历。'
		p='欢迎 <a href="http://yxrct.com/feed">RSS</a> 订阅。'



		p='本站的内容均基于 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">CC 4.0 协议</a> 发布，转载博文时请务标明原文出处。'